body{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header,nav,section,article,h1,p,aside,#footer{
    position:absolute;
	text-align: center;

}
header,nav,#footer{
    background: #ebebeb;
    width: 80%;
    height: 10%;
	left: 10%;
}

header{
    
}

nav{
    top:12%;
}

#footer{
    top:51%;
}

section{
    width:38%;
    height: 25%;
    top:24%;
    background: #ebebeb;
	left: 10%;
}

aside{
    width:39%;
    height: 25%;
    left: 51%;
    background: #ebebeb; 
    top: 24%;
}

p,h1{
	
	width:95%;
	left:2%;
}

article{
	height:80%;
	background: #777;
	color: #ebebeb;
	top: 15%;
	width: 95%;
	left: 2%;
}

h1,p{
	background: #ebebeb;
	color: #777;
	height: 35%;
}

h1{
	top: 10%;
}

p{
	bottom:6%;
	margin: 5px 0px 0px 0px;
}

